/* -- Start Navigationscrolling Each css Template -- */
#nav-%id% {
    %%[[if !edit]]%%
    max-height: %id=navMaxHeight%px;
    %%[[endif]]%%
    font-size: %id=navFontSize%rem;
}
%[if%id=activeUL%  ]%
#ul-%id% .active a {
    text-decoration: underline;
}
#ul-%id% .active a:hover {
    text-decoration: underline;
}
%[endif]%
%[if%id=activeStyle%  ]%
#ul-%id% .active{
    background-color: %id=activeColor[0]%;
    color: %id=activeColor[1]%; 
}
#ul-%id% .active a {
    color: %id=activeColor[1]%; 
}
#ul-%id% .active li:hover,  {
    background-color: %id=activeHoverColor[0]%;
    color: %id=activeHoverColor[1]%; 
}
#ul-%id% .active a:hover {
    color: %id=activeHoverColor[1]%; 
}
%[endif]%
#ul-%id% li{
    border-right: 3px solid %id=dividColor%;
    background-color: %id=itemColor[0]%; 
    min-width: %id=navMinWidth%px; 
    color: %id=itemColor[1]%;
    font-size: %id=navFontSize%rem;
}
#ul-%id% li:hover { 
    background: %id=itemHoverColor[0]%;
    color: %id=itemHoverColor[1]%;
    cursor: pointer;
}
#ul-%id% li:last-child {
    border-right:none;
}
#ul-%id% a {
    color: %id=itemColor[1]%;
    font-size: %id=navFontSize%rem;
}
#ul-%id% a:hover {
    text-decoration: none;
    color: %id=itemHoverColor[1]%;
}
#lbtn-%id%, #rbtn-%id% {
    background-color: %id=arrowColor[0]%;
    color: %id=arrowColor[1]%;
}
#rbtn-%id%:hover, #lbtn-%id%:hover {
    background-color: %id=arrowHoverColor[0]%;
    color: %id=arrowHoverColor[1]%;
    cursor: pointer;
}
%[if %id=navSmallScreen% ]%
@media (max-width: 576px) { 
    #nav-%id% {
        max-height: %id=navMaxHeightSm%px;
        font-size: %id=navFontSizeSm%rem;
    }
    #ul-%id% li{
        min-width: %id=navMinWidthSm%px; 
    }
    #ul-%id% li{
        font-size: %id=navFontSizeSm%rem;
    }
    #ul-%id% a {
        font-size: %id=navFontSizeSm%rem;
    }
    
}
%[endif]%

/* -- End Navigationscrolling Each css Template -- */